@media(min-width: 768px) {
    .gameid-input {
        width: 50%;
    }

    .cards-grid {
        display: grid;
        /* grid-template-columns: 20% 20% 20% 20% 20%; */
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px 150px 150px;
        justify-content: center;
        font-size: large;
    }
}

@media(max-width: 768px) {
    .cards-grid {
        display: grid;
        /* grid-template-columns: 20% 20% 20% 20% 20%; */
        grid-template-columns: 75px 75px 75px 75px 75px;
        grid-template-rows: 75px 75px 75px 75px 75px;
        justify-content: center;
        font-size: small;
    }
}




.card {
    width: 100%;
}
